 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1596px;
}

.u-section-1 .u-image-1 {
  height: 430px;
  margin-top: 47px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 132px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 21px 0 0;
}

.u-section-1 .u-video-1 {
  height: 549px;
  margin-top: 21px;
  margin-bottom: 47px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 680px;
  }

  .u-section-1 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-video-1 {
    height: 471px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 181%;
    left: -40%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 287%;
    left: -94%;
  }
}